---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog"
---

<BaseLayout pageTitle={pageTitle}>
  <div class="grid grid-cols-2 row-span-full gap-6">
    {
      allPosts.map((post) => (
          <div class="first:col-span-full">
            <BlogPost
              url={post.url}
              title={post.frontmatter.title}
              imageUrl={post.frontmatter.image.url}
              author={post.frontmatter.author}
            />
          </div>
        ))
    }
  </div>
</BaseLayout>